<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h3 class="card-title text-center">Histórico de Coletas</h3>

                <!-- Campo de Seleção de Data -->
                <div class="row mt-3">
                    <div class="col-md-4 offset-md-4">
                        <input type="date" id="dataSelecionada" class="form-control">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!-- Nav Tabs -->
                <ul class="nav nav-tabs bg-success" id="historicoTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-white active bg-success" id="pendentes-tab" data-bs-toggle="tab"
                            href="#pendentes" role="tab" aria-controls="pendentes" aria-selected="true">Pendentes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-white bg-success" id="aceitas-tab" data-bs-toggle="tab" href="#aceitas"
                            role="tab" aria-controls="aceitas" aria-selected="false">Aceitas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-white bg-success" id="canceladas-tab" data-bs-toggle="tab"
                            href="#canceladas" role="tab" aria-controls="canceladas"
                            aria-selected="false">Canceladas/Rejeitadas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-white bg-success" id="concluidas-tab" data-bs-toggle="tab"
                            href="#concluidas" role="tab" aria-controls="concluidas"
                            aria-selected="false">Concluídas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-white bg-success" id="todas-tab" data-bs-toggle="tab" href="#todas"
                            role="tab" aria-controls="todas" aria-selected="false">Todas do Dia</a>
                    </li>
                </ul>
                <!-- Tab Content -->
                <div class="tab-content" id="historicoTabsContent">
                    <!-- Coletas Pendentes -->
                    <div class="tab-pane fade show active" id="pendentes" role="tabpanel"
                        aria-labelledby="pendentes-tab">
                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>CNPJ</th>
                                        <th>Nome Fantasia</th>
                                        <th>Data</th>
                                        <th>Hora</th>
                                        <th>Status</th>
                                        <th>Observação</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each coletaPendente}}
                                    {{#dataValues}}
                                    <tr>
                                        <td>{{formatDate this.data}}</td>
                                        <td>{{this.hora}}</td>
                                        <td class="{{getStatusClass this.status}}">{{this.status}}</td>
                                        <td>{{this.observacao}}</td>
                                        <td>
                                            <a class="btn btn-danger" href="/cliente/cancelar-coleta/{{this.id}}"
                                                role="button">Cancelar</a>
                                        </td>
                                    </tr>
                                    {{/dataValues}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Coletas Aceitas -->
                    <div class="tab-pane fade" id="aceitas" role="tabpanel" aria-labelledby="aceitas-tab">
                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>CNPJ</th>
                                        <th>Nome Fantasia</th>
                                        <th>Data</th>
                                        <th>Hora</th>
                                        <th>Status</th>
                                        <th>Observação</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each coletaAceita}}
                                    {{#dataValues}}
                                    <tr>
                                        <td>{{formatDate this.data}}</td>
                                        <td>{{this.hora}}</td>
                                        <td class="{{getStatusClass this.status}}">{{this.status}}</td>
                                        <td>{{this.observacao}}</td>
                                        <td>
                                            <a class="btn btn-danger" href="/cliente/cancelar-coleta/{{this.id}}"
                                                role="button">Cancelar</a>
                                        </td>
                                    </tr>
                                    {{/dataValues}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Coletas Canceladas/Rejeitadas -->
                    <div class="tab-pane fade" id="canceladas" role="tabpanel" aria-labelledby="canceladas-tab">
                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>CNPJ</th>
                                        <th>Nome Fantasia</th>
                                        <th>Data</th>
                                        <th>Hora</th>
                                        <th>Status</th>
                                        <th>Observação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each coletaInativa}}
                                    {{#dataValues}}
                                    <tr>
                                        <td>{{formatDate this.data}}</td>
                                        <td>{{this.hora}}</td>
                                        <td class="{{getStatusClass this.status}}">{{this.status}}</td>
                                        <td>{{this.observacao}}</td>
                                    </tr>
                                    {{/dataValues}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Coletas Concluídas -->
                    <div class="tab-pane fade" id="concluidas" role="tabpanel" aria-labelledby="concluidas-tab">
                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>CNPJ</th>
                                        <th>Nome Fantasia</th>
                                        <th>Data</th>
                                        <th>Hora</th>
                                        <th>Status</th>
                                        <th>Observação</th>
                                        <th>Avaliação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each coletaConcluida}}
                                    {{#dataValues}}
                                    <tr>
                                        <td>{{formatDate this.data}}</td>
                                        <td>{{this.hora}}</td>
                                        <td class="{{getStatusClass this.status}}">{{this.status}}</td>
                                        <td>{{this.observacao}}</td>
                                        <td>
                                            {{#if this.avaliacao}}
                                            {{this.avaliacao}}/5
                                            {{else}}
                                            <form id="formAvaliacao" name="formAvaliacao"
                                                action="/cliente/avaliar-coleta" method="post">
                                                <input type="hidden" name="coletaId" value="{{this.id}}">
                                                <select class="form-select" name="avaliacao" id="avaliacao">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                <button type="submit" class="btn btn-success">Avaliar</button>
                                            </form>
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{/dataValues}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Todas as Coletas do Dia -->
                    <div class="tab-pane fade" id="todas" role="tabpanel" aria-labelledby="todas-tab">
                        <div class="table-responsive mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>CNPJ</th>
                                        <th>Nome Fantasia</th>
                                        <th>Data</th>
                                        <th>Hora</th>
                                        <th>Status</th>
                                        <th>Observação</th>
                                    </tr>
                                </thead>
                                <tbody id="coletas-do-dia">
                                    <!-- Os dados serão inseridos aqui via JavaScript -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <a href="/cliente" class="btn btn-success mt-3" role="button">Voltar</a>
                <button id="gerarRelatorio" class="btn btn-primary mt-3">Gerar Relatório em PDF</button>
            </div>
        </div>
    </div>